
* {
  font-family: "Input Mono", Menlo, monospace;
  color: white;
}
::placeholder {
  opacity: 0.5;
}
body {
  background-color: #0f1419;
  max-width: 700px;
  margin: auto;
  padding: 2em;
  text-align: left;
}
table {
  width: 100%;
}
tr > * {
  padding: 0.2em;
}
h1 {
  text-align: center;
}
a, p, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}
input, select {
  background-color: #1f2931;
  border: 1px solid gray;
  padding: 1em;
  outline: none;
  display: block;
  width: calc(100% - 2em - 2px);
}
select {
  width: 100%;
}
input:invalid {
  border-color: #a01f02;
}
input:focus, select:focus {
  border-color: white;
}
input[type="number"] {
  appearance: textfield;
}
input[type="submit"] {
  margin-top: 2em;
  width: 100%;
  text-transform: uppercase;
  border-color: rgba(242, 151, 24, 0.5);
  background-color: rgba(242, 151, 24, 0.3);
}
input[type="submit"]:focus,
input[type="submit"]:hover {
  border-color: rgb(242, 151, 24);
  background-color: rgba(242, 151, 24, 0.5);
}
input[type="submit"]:hover {
  cursor: pointer;
}
input[type="checkbox"] {
  width: 1.5em;
  height: 1.5em;
  margin: 1em;
  accent-color: white;
  filter: brightness(95%) contrast(.7) invert(1);
}
input[type="checkbox"]:checked {
  filter: none;
}
input[type="checkbox"]:focus {
  outline: auto;
}
